@{
    ViewBag.Title = "About";
}


<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="~/Content/img/AshtonLoya2.gif" class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Name: </span> <span>Ashton Loya</span></p>
                                        <p><span class="title-s">Profile: </span> <span>Full Stack Develeoper</span></p>
                                        <p><span class="title-s">Email: </span> <span>Ashtonloya@outlook.com</span></p>
                                        <p><span class="title-s">Phone: </span> <span>(913) 299-7600</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf">
                                <p class="title-s">Skill</p>
                                <span>HTML5</span> <span class="pull-right">85%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>CSS</span> <span class="pull-right">75%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>C#</span> <span class="pull-right">50%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>REACT JS</span> <span class="pull-right">90%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        About me
                                    </h5>
                                </div>
                                <p class="lead">
                                    At my previous employment I was employed as a full-time grounds keeper at 3&2 baseball club. While working there I learned valuable skills while preforming tasks such as time management between baseball games, attention to detail in lawn care and team work with my crew while preparing fields during tournaments.
                                </p>
                                <p class="lead">

                                </p>
                                <p class="lead">
                                    In November of 2019 I decided, I wanted to make a career shift into software development due to my growing passion for technology years prior. I am currently enrolled at Centriq training's full stack web development program where I am currently learning front-end, middle-tier and back-end development. I am on track to graduate on August 8th 2020.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section-counter paralax-mf bg-image" style="background-image: url(/Content/img/counters-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">4</p>
                        <span class="counter-text">WORKS COMPLETED</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">1</p>
                        <span class="counter-text">YEARS OF EXPERIENCE</span>
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ios-people"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">550</p>
                        <span class="counter-text">TOTAL CLIENTS</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">36</p>
                        <span class="counter-text">AWARD WON</span>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
