
@{
    ViewBag.Title = "Classmates";
}

<!-- / Classmates Section /-->
<section id="Classmates" class="blog-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        ClassMates
                    </h3>
                    <p class="subtitle-a">
                        <i>View website!</i>
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                       
                        <a href=" http://quintindublin.com/"><img src="~/Content/img/Quintin Dublin.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">Quintin</h6>
                            </div>
                        </div>
                        <h3 class="card-title">Click on the image to see more</h3>
                        <p class="card-description">

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="http://brodeesworld.com/index.html"><img src="~/Content/img/Brodee.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">Brodee</h6>
                            </div>
                        </div>
                        <h3 class="card-title">Click on the image to see more</h3>
                        <p class="card-description">

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="http://tforeman.com/"><img src="~/Content/img/Timothy.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">Tim</h6>
                            </div>
                        </div>
                        <h3 class="card-title">Click on the image to see more</h3>
                        <p class="card-description">

                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


