
@{
    ViewBag.Title = "Portfolio";
}

<!--/ Section Portfolio Star /-->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Portfolio(UnderConstruction!)
                    </h3>
                    <p class="subtitle-a">
                        <i>Project and applications I have built in the last 7 months.</i>
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/Content/img/2020-03-26 (1).png" data-lightbox="gallery-mf">
                        <div class="~/Content/work-img">
                            <img src="~/Content/img/Dungeon.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Dungeon Application</h2>
                                    <div class="w-more">
                                        <p>Game built using C# programming</p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/Content/img/2020-03-26 (2).png" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="~/Content/img/StoreFront Delaship.png" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Car DealerShip</h2>
                                    <div class="w-more">
                                        <p>Created a secure CarDealerShip application for managing product data.</p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/Content/img/SnakeGame.mp4" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="~/Content/img/Snake Game.png" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">SnakeGame</h2>
                                    <p>Devleoped a "Snake" game application</p>

                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--<div class="col-md-4">
                <div class="work-box">
                    <a href="img/work-4.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="img/work-4.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Bindo Laro Cado</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="img/work-5.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="img/work-5.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Studio Lena Mado</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="img/work-6.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="img/work-6.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Studio Big Bang</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>-->

        </div>
    </div>
</section>
<!--/ Section Portfolio End /-->

<!--/ Section Testimonials Star /-->
<div class="testimonials paralax-mf bg-image" style="background-image: url(/Content/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-mf" class="owl-carousel owl-theme">
                    <div class="testimonial-box">
                        <div class="author-test">
                            <img src="img/testimonial-2.jpg" alt="" class="rounded-circle b-shadow-a">
                            <span class="author">Steve Jobs</span>
                        </div>
                        <div class="content-test">
                            <p class="description lead">
                               "Everyone should know how to program a computer, because it teachers you how to think!"
                            </p>
                            <span class="comit"><i class="fa fa-quote-right"></i></span>
                        </div>
                    </div>
                    <div class="testimonial-box">
                        <div class="author-test">
                            <img src="img/testimonial-4.jpg" alt="" class="rounded-circle b-shadow-a">
                            <span class="author">John Romero </span>
                        </div>
                        <div class="content-test">
                            <p class="description lead">
                               "You might not think that programmers are artists, but programming is an extremly creative profeesion. It's Logic-Based Creativity."
                            </p>
                            <span class="comit"><i class="fa fa-quote-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


