
@{
    ViewBag.Title = "ResumeDoc";
}

<!--/ Intro Skew Star /-->
<div class="intro intro-single route bg-image" style="background-image: url(~/Content/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <h2 class="intro-title mb-4">Resume Details</h2>
                <i>Ashton Loya</i>
            </div>
        </div>
    </div>
</div>
<!--/ Intro Skew End /-->
<!--/ Section Blog-Single Star /-->
<section class="ResumeDetails" id="Details">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="Resume-box">
                    <div class="Resume-meta">
                        <h1 class="Resume Section"></h1>

                    </div>
                    <div class="article-content">
                        <section>
                            <h1>
                                <b>Full Stack Developer</b>
                            </h1>
                        </section>
                        <br />
                        <section>
                            <h4>Summary Of Qualifications</h4>
                            <ul>
                                <li>
                                    Solid foundational knowledge of designing and devleoping full-stack web applications using .NET framework.
                                </li>
                                <li>
                                    Great communictation, time management and teamwork from four years of grounds keeping experience.
                                </li>
                            </ul>
                            <br />
                            <h4>Transferable Skills</h4>
                            <ul>
                                <li>
                                    Active Listening
                                </li>
                                <li>
                                    Organizational
                                </li>
                                <li>
                                    Determined
                                </li>
                                <li>
                                    Communication
                                </li>
                                <li>
                                    Decision Making
                                </li>
                                <li>
                                    Leadership
                                </li>
                                <li>
                                    Time Management
                                </li>
                                <li>
                                    Teamwork
                                </li>
                                <li>
                                    Managing
                                </li>
                                <li>
                                    Problem Solving
                                </li>
                                <li>
                                    Motivational
                                </li>
                            </ul>
                            <br />
                            <h3>Technical Skills</h3>
                            <p><b>Front End:</b> HTML5,Javascript, jQuery,jQueryUI,CSS3,Responsive/Mobile Web Devleopment,Bootstrap, ReactJS</p>
                            <p><b>Middle Tier:</b>Visual Studio, C#.NET, ASP.NET,LINQ,MVC,EF</p>
                            <p><b>Back End:</b>ADO.NET,SQL Server,SSMSE</p>
                            <br />
                            <h3>Independent Devleopment Projects</h3>
                            <ul>
                                <li>
                                    <b>Personal Site</b>
                                </li>
                                <li>
                                    <p>
                                        <b>StoreFront:</b>
                                        Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Adminstrators can manage product, category and vendor data.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <b>S.A.T Scheduling Adminstration Tool:</b>
                                        Created a secure appliction for managing product data. Application is built to stimulate an online class scheduling system. Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <b>Final Project:</b>
                                        Created a secure data-driven ASP.NET MVC application from design through deployment for managing the tracking and organization of hardware and software within a company. Administrators can manage employee, department data and all details relating to assigned hardware and software.
                                    </p>
                                </li>
                            </ul>
                            <br />
                            <h3><b>Technical Training</b></h3>
                            <h4>
                                Centriq Training,
                                <i align="left">Kansas City, MO</i>
                            </h4>
                            <p align="right">
                                <b>11/18/2019– 06/11/2020</b>
                            </p>
                            <p>
                                Full-Stack Developer Program
                                <br />
                                <i>
                                    Technical Competencies:
                                </i>
                            </p>
                            <ul>
                                <li>
                                    MVC FrameWork
                                </li>
                                <li>
                                    Pair Programming
                                </li>
                                <li>
                                    Trouble Shooting & Debugging
                                </li>
                                <li>
                                    Code Review
                                </li>
                                <li>
                                    Agile/Scrum (Created Team Project)
                                </li>
                                <li>
                                    Professionalism, Teamwork, Problem Solving & Effective Communication
                                </li>
                                <li>
                                    Website Deployment
                                </li>
                            </ul>
                        </section>
                        <section>
                            <h3 align="left">
                                Previous Professional Experience
                            </h3>
                            <i>3&2 Baseball Club of Johnson County, Lenexa, KS </i>
                            <p align="right">
                                <b>August 2016 - Spring 2020</b>
                            </p>
                            <b>Grounds Keeper</b>
                            <ul>
                                <li>
                                    <b align="left">Maintaining the baseball fields</b>
                                    <br />
                                    &#8208; Redraging the infield aglime in a spiral rotation
                                    <br />
                                    &#8208; Chalking of the foul and runners’ line in a straight, symmetrical and perpendicular orientation
                                    <br />
                                    &#8208; Repurposing of the pitcher’s mound (includes adding additional clay if needed and re-leveling)
                                    <br />
                                    &#8208; Evening out of the home plate surface and batter’s box area
                                    <br />
                                    &#8208; Intricately Re-Sod outfield and infield grass diamond
                                    <br />
                                    &#8208; Edging along the outer brims of the infield and outfield grass
                                    <br />
                                    &#8208; Mow outfields on zero turn radius mower while mowing parallel, straight and baseball style lines
                                </li>
                            </ul>
                            <br />
                            <ul>
                                <li>
                                    <b align="left">Maintenance of the shop</b>
                                    <br />
                                    &#8208; Organizing shelves, tools, equipment, vehicles and workstations
                                    <br />
                                    &#8208; Cleaning and inspecting all tools
                                    <br />
                                    &#8208; Surveying tool and all vehicles
                                    <br />
                                    &#8208; Cleanse and sanitize of all workstations, employee areas and lavatories
                                    <br />
                                    &#8208; Apprehending, halting, securing and positioning all vehicles in symmetrical order before end of workday
                                    <br />
                                    &#8208; Mowing front of office location
                                    <br />
                                    &#8208; Vehicle inspections
                                    <br />
                                    &#8208; Sharpen and weld equipment
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <b align="left">Complex Duties</b>
                                    <br />
                                    &#8208; Basic Upkepp within the complex
                                    <br />
                                    &#8208; Sanitization
                                    <br />
                                    &#8208; Rubbish disposal
                                    <br />
                                    &#8208; Landscaping within commons of complex
                                    <br />
                                    &#8208; Mowing and nourishing sod inside of the complex
                                    <br />
                                    &#8208; Re plaster and repaint building walls and pavement
                                    <br />
                                    &#8208; Brick layering
                                    <br />
                                    &#8208; Assist in managing part-time employees
                                    <br />
                                    &#8208; Assign duties, tasks and jobs
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>