
@{
    ViewBag.Title = "Resume";
}


<!--/ Section Resume Star /-->
<section id="Resume" class="blog-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Resume
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 card-container">
                <div class="card card-blog">
                    <div class="card-img1">
                        <a href="~/Content/img/Developer Resume.pdf"><img src="~/Content/img/Resume-Picture.gif" alt="" class="img-fluid"></a>
                        <a href="@Url.Action("ResumeDoc","Home")"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">Ashton</h6>
                            </div>
                        </div>
                        <h3 class="card-title">
                            <a href="ResumeDoc"</a>
                                <i>Click here! to view more about my resume</i>
                            </a>
                        </h3>
                        <p class="card-description">
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!--/ Section Resume End /-->
<!--/ Section Divide /-->
<div class="testimonials paralax-mf bg-image" style="background-image: url(/Content/img/Code.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-mf" class="owl-carousel owl-theme">
                    <div class="testimonial-box">
                        <div class="author-test">
                            <img src="img/testimonial-2.jpg" alt="" class="rounded-circle b-shadow-a">
                            <span class="author">Steve Jobs</span>
                        </div>
                        <div class="content-test">
                            <p class="description lead">
                                "Everyone should know how to program a computer, because it teachers you how to think!"
                            </p>
                            <span class="comit"><i class="fa fa-quote-right"></i></span>
                        </div>
                    </div>
                    <div class="testimonial-box">
                        <div class="author-test">
                            <img src="img/testimonial-4.jpg" alt="" class="rounded-circle b-shadow-a">
                            <span class="author">John Romero </span>
                        </div>
                        <div class="content-test">
                            <p class="description lead">
                                "You might not think that programmers are artists, but programming is an extremly creative profeesion. It's Logic-Based Creativity."
                            </p>
                            <span class="comit"><i class="fa fa-quote-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


